<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NewsHour</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NewsHour</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<!-- Social Login Section -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
				<array>
					<string>fb875874877379</string>
					<string>com.googleusercontent.apps.1027294838552-8bi7p8r7isgj97c5i7r</string>
				</array>
		</dict>
	</array>

	<key>FacebookAppID</key>
	<string>87587487737</string>
	<key>FacebookClientToken</key>
	<string>CLIENT-TOKEN</string>
	<key>665500d5d5c72ce7aaa614484456</key>
	<string>NewsHour</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
  	<string>fbapi</string>
  	<string>fb-messenger-share-api</string>
	</array>
	<!-- End of the Social Section -->
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
		<string>itms-beta</string>
		<string>itms</string>
		<string>mailto</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs this permission to access your chosen photo from your library and update your profile picture</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>hi</string>
		<string>ru</string>
		<string>es</string>
		<string>pt</string>
		<string>fr</string>
		<string>ar</string>
		<string>zh</string>
		<string>bn</string>
		<string>de</string>
	</array>
	<key>LSMinimumSystemVersion</key>
    <string>13.0.0</string>
</dict>
</plist>
